* {
	margin: 0;
	padding: 0;
}

html, body{ 
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background: url("counter/bacground6.jpg") no-repeat fixed center;
    background-size: cover;
}

img{
    display: block;
}
#everything{
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgb(66, 66, 97);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 0);
}

#everything.animation{
    transition: clip-path 1s;
    clip-path: polygon(100% 0, 100% 0, 100% 0, 0 100%, 0 100%, 0 100%);
}

#content{
    height: 100%;
    width: 100%;;
}


#counter{
    position: relative;
    display: flex;
    justify-content: center;
    top: 25%;
    color: rgb(241, 232, 232);
}

#counterContainer{
    display: flex;
    flex-direction: row;
    height: 30vh;
    width: 60%;
}

.innerCounter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
}

.date{
    font-size: 8vw;
}

.innerText{
    font-size: 1.5vw;
}

@media only screen and (max-width: 1200px) {
    .innerText {
        font-size: 2.5vw;
    }

    .date{
        font-size: 12vw;
    }

    #counterContainer{
        width: 80%;
    }
  }

  #inputContainer{
      z-index: 14;
      position: relative;
      flex-direction: column;
      top: 25%;
 
  }
  #inputText{
    color: rgb(241, 232, 232);
    font-size: 4vw;
    display: flex;
    justify-content: center;
    padding: 1%;
  }

  #input, #count{
    display: flex;
    justify-content: center;
    padding: 1%;
  }

  #value{
    font-size: 2vw;
}

#count button{
    font-size: 1vw;
    padding: 5px;
}
    
